/* General styles*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Verdana, sans-serif; /*Implementation of Roboto */
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    list-style: none;
}

/* Section-specific styles */

.section-one {
    
    background-color: #1F2937;
    color: #F9FAF8;
    height: 600px;
}

.navigation {
    background-color: inherit;
    color: inherit;
   
}

.navigation,
.navigation ul {
    display: flex;
}

.navigation-links {
    margin-left: auto;
    margin-right: 180px;
    
   
}

.navigation-links a {
    color: #E5E7EB;
}

.navigation ul {
    gap: 20px;
}

.logo {
margin-left: 180px;
font-size: 24px;
font-weight: 800;
position: relative;
bottom: 15px;
}

.main-content {
    width: 500px;
    text-align: justify;
    margin-top: 60px;

}

.main-content h1 {
    text-align:left;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 3px;
}

.main-content button {
width: 80px;
padding: 3px;
border-radius: 7px;
background-color:#3882F6;
color: #E5E7EB;
display: block;
margin: 25px auto 0 auto;
}

.section-one-container {
    display: flex;
    gap: 50px;
    margin-left: 180px;
    margin-top: 50px;
}

.section-two {
    height: 600px;
    
    padding-top: 50px;

}

.section-two h2 {
    margin-top: 0;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.section-two-container {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;

}

.image-container {
    width: 150px;
}

.image-container img {
    border: 2px solid #3882F6;
}

.image-container p {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}

.section-three {
    height: 600px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.section-three-container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 30px;
    
}

.section-three-container p:first-child {
    text-align: justify;
}

.thor {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    margin-top: -25px;
    text-align: right;
}

.section-four {
    height: 600px;
    display: flex;
    align-items: center;
}

.section-four-container {
    background-color: #3882F6;
    width: 700px;
    color: #F9FAF8;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.button-div button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 3px;
}

.action-text p:nth-of-type(2) {
    margin-top: -15px;
}



.button-div {
    display: flex;
    align-items: center;
}





